@model BankApp.Application.Customers.Queries.GetIndexStatistics.IndexStatisticsViewModel
@using System.Globalization
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

<div class="row">
    <div class="col s12 center">
        @if ((await AuthorizationService.AuthorizeAsync(User, "Cashier")).Succeeded)
        {
            <div class="row">
                <div class="col s12 m6 offset-m3 z-depth-1">
                    <div class="col s12 center">
                        <h4>SBS Bank statistics</h4>
                    </div>
                    <div class="col s12">
                        <h5>Customers: @Model.NumberOfCustomers</h5>
                    </div>
                    <div class="col s12">
                        <h5>Accounts: @Model.NumberOfAccounts</h5>
                    </div>
                    <div class="col s12">
                        <h5>Total balance: @Model.TotalBalance.Value.ToString("C", CultureInfo.CurrentCulture)</h5>
                    </div>
                </div>
            </div>
        }
        else if ((await AuthorizationService.AuthorizeAsync(User, "Admin")).Succeeded)
        {
            {
                ViewData["Title"] = "SBS Bank Admin";
            }
            <div class="col s12">
                <a asp-route="user_list" class="waves-effect waves-light btn">Manage employees</a>
                <a asp-route="user_register" class="waves-effect waves-light btn">Register employee</a>
            </div>
        }
    </div>
</div>
