@model  BankApp.Application.Customers.Queries.GetIndexStatistics.IndexStatisticsViewModel

<h1>Customers: @Model.NumberOfCustomers</h1>
<h1>Accounts: @Model.NumberOfAccounts</h1>
<h1>Total balance: @Model.TotalBalance</h1>