@model BankApp.Application.Accounts.Queries.GetAccountTransferData.GetAccountTransferDataViewModel

<div class="row">
    <div class="col s12">
        <div class="row">
            <div class="row">
                <div class="col s12 center">
                    <h1>Manage accounts</h1>
                    <h4>@Model.Customer.Name</h4>
                </div>
            </div>

            <div class="col s6">

                <table class="striped responsive-table">
                    <thead>
                        <tr>
                            <th>Account id</th>
                            <th>Balance</th>
                            <th>Delete</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var account in Model.Accounts)
                        {
                            <tr>
                                <td>
                                    @account.Value
                                </td>

                                <td>
                                    @account.Text.Split("-")[1]
                                </td>
                            </tr>
                        }
                    </tbody>

                </table>
            </div>
            <div class="col s6">

            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <a asp-route="customer_details" asp-route-customerId="@Model.Customer.CustomerId" class="waves-effect waves-light btn">Go back</a>
            </div>
        </div>
    </div>
</div>