@using Microsoft.AspNetCore.Identity
@using BankApp.Persistence.Identity
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@if ((await AuthorizationService.AuthorizeAsync(User, "Cashier")).Succeeded)
{
    <div class="row">
        <div class="col s12">
            <form method="get" asp-controller="search" asp-action="index" class="mt10">
                <div class="row">
                    <div class="col s6 m3 offset-m1">
                        <input value="@TempData["givenname"]" type="search" name="givenname" class="form-control" placeholder="Customer Id/First name" />
                    </div>
                    <div class="col s6 m3">
                        <input value="@TempData["surname"]" type="search" name="surname" class="form-control" placeholder="lastname" />
                    </div>
                    <div class="col s6 m3">
                        <input value="@TempData["city"]" type="search" name="city" class="form-control" placeholder="City" />
                    </div>
                    <div class="col s6 m1 center">
                        <button type="submit" class="btn btn-info mt5">Search</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
}