@using Microsoft.AspNetCore.Identity
@using BankApp.Persistence.Identity
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@if ((await AuthorizationService.AuthorizeAsync(User, "Cashier")).Succeeded)
{
    <div class="row">
        <div class="col s12 m6 offset-m3 ">
            <form method="get" asp-controller="search" asp-action="index" class="mt10">
                <div class="row">
                    <div class="col s12 m5">
                        <input type="search" name="firstName" class="form-control" placeholder="Customer Id OR first name" />
                    </div>
                    <div class="col s12 m5">
                        <input type="search" name="city" class="form-control" placeholder="Filter by city" />
                    </div>
                    <div class="col s12 m2">
                        <button type="submit" class="btn btn-info mt5">Search</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
}