@using Microsoft.AspNetCore.Identity
@using BankApp.Persistence.Identity
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@if ((await AuthorizationService.AuthorizeAsync(User, "Cashier")).Succeeded)
{
    <div class="row">
        <div class="col m3"></div>
        <div class="col s12 m6">
            <form method="get" asp-controller="search" asp-action="index" class="mt10">
                <div class="row">
                    <div class="col s12 m10">
                        <input type="search" name="search" class="form-control" placeholder="Search by customer id, first name or city" />
                    </div>
                    <div class="col s12 m2">
                        <button type="submit" class="btn btn-info mt5">Search</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col m3"></div>
    </div>
}