<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">

@if (TempData["errorMessage"] != null)
{
    <div class="row">
        <div class="col s12 statusMessageWrapper">
            <div class="red darken-4 z-depth-2 center animated flipInX statusMessageDiv">
                <p class="noMargin statusMessageText">@TempData["errorMessage"]</p>
            </div>
        </div>
    </div>
}
@if (TempData["successMessage"] != null)
{
    <div class="row">
        <div class="col s12 statusMessageWrapper">
            <div class="teal lighten-2 z-depth-2 center animated flipInX statusMessageDiv">
                <p class="noMargin statusMessageText">@TempData["successMessage"]</p>
            </div>
        </div>
    </div>
}