@model BankApp.Application.Accounts.Queries.GetAccountTransferData.GetAccountTransferDataViewModel

<div class="row">
    <div class="col s12">
        <div class="row">
            <div class="col s12 center">
                <h1>Deposit</h1>
                <h4>@Model.Customer.Name</h4>
            </div>
        </div>

        <form asp-route="customer_deposit" method="post">
            <div class="row">
                <div class="z-depth-1 col s12">
                    <h6>Select an account and amount</h6>
                    <select name="recieverAccountId" asp-items="Model.Accounts"></select>
                    <input name="Amount" placeholder="Amount"/>
                    <input type="hidden" value="@Model.Customer.CustomerId" />
                    <button class="waves-effect waves-light btn" type="submit">Deposit</button>
                </div>
            </div>
        </form>
        <div asp-validation-summary="All"></div>    
        <div class="row">
            <div class="col s12">
                <a asp-route="customer_details" asp-route-customerId="@Model.Customer.CustomerId" class="waves-effect waves-light btn">Go back</a>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('select');
        var instances = M.FormSelect.init(elems);
    });
</script>