@model BankApp.Application.Accounts.Queries.GetAccountTransferData.GetAccountTransferDataViewModel

@{
    ViewData["Title"] = $"Withdraw [{Model.Customer.Name}]";
}

<div class="row">
    <div class="col s12">
        <form onsubmit="return validateMyForm();" asp-route="customer_withdraw" method="post">
            <div class="row">
                <div class="col m3"></div>
                <div class="z-depth-1 col s12 m6 pb10">
                    <h6>Select an account and amount</h6>
                    <select name="AccountId" asp-items="Model.Accounts"></select>
                    <input id="amount" name="Amount" placeholder="Amount" />
                    <input type="hidden" asp-for="@Model.Customer.CustomerId" />
                    <button class="waves-effect waves-light btn" type="submit">Withdraw</button>
                </div>
                <div class="col m3"></div>

            </div>
        </form>
        <div class="row">
            <div asp-validation-summary="All" class="col m5 offset-m3">
                <div>
                    <ul>
                        <li id="valLi"></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12 center">
                <a asp-route="customer_details" asp-route-customerId="@Model.Customer.CustomerId" class="waves-effect waves-light btn">Go back</a>
            </div>
        </div>
    </div>
</div>

<script defer src="~/js/NegativeCheckOnSubmit.js"></script>
